{% extends 'layout/base.html' %}
{% block title %}
  Filter
{% endblock %}
{% block body %}
  <div id="searchPanel">

      {% csrf_token %}
      <h2>Categories</h2>
      {% for category in Categories %}
        <label>
          <input id="category" type="checkbox" name="options" value="{{ category.id }}" />
          {{ category.category_name }}
          {{ category.id }}
        </label><br />
      {% endfor %}

      <h2>Brands</h2>
      {% for brand in Brands %}
        <label>
          <input id="brand" type="checkbox" name="options" value="{{ brand.id }}" />
          {{ brand.brand_name }}
          {{ brand.id }}
        </label><br />
      {% endfor %}

      <h2>Sellers</h2>
      {% for seller in Sellers %}
        <label>
          <input id="seller" type="checkbox" name="options" value="{{ seller.id }}" />
          {{ seller.seller_name }}
          {{ seller.id }}
        </label><br />
      {% endfor %}

      <h2>Warrantys</h2>
      {% for warranty in Warrantys %}
        <label>
          <input id="warranty" type="checkbox" name="options" value="{{ warranty.id }}" />
          {{ warranty.warranty_name }}
          {{ warranty.id }}
        </label><br />
      {% endfor %}

      <h2>ProductTypes</h2>
      {% for productType in ProductTypes %}
        <label>
          <input id="productType" type="checkbox" name="options" value="{{ productType.id }}" />
          {{ productType.product_type_name }}
          {{ productType.id }}
        </label><br />
      {% endfor %}

      <br />
      <input type="submit" id="filer" value="Apply Filters" />
  </div>

  <div id="mainContent">
    <div class="row"></div>
  </div>
{% endblock %}
