{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
        base
      {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    {% include 'layout/header.html' %}
    <div class="body_start">
      <br />
    </div>
    {% block body %}

    {% endblock %}
    <br/><br/><br/><br/>
  </body>
</html>